body {
  margin: 0;
  background: #000000
}

.frame {
  margin: 100px auto;
  width: 800px;
  border: 10px solid #0930ae;
  border-radius: 8px;
}

.board {
  background: radial-gradient(#a3bae2, #3271dd);
  padding: 30px 20px 60px 20px;
  min-height: 480px;
}

.title{
  font-family: serif;
  font-size: 80px;
  font-weight: 700px;
  color: #000;
  letter-spacing: 0.1em;
  text-shadow: 2px 3px 0 #86b0f8;
  text-align: center;
  margin-bottom: 50px;
}

/* Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 16px;
}

button {
  width: 170px;
  font-size: 28px;
  padding: 7px 0;
  border: 4px solid #2d4cba;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 3px 0 #5da8e1;
  font-family: serif;
}

.start {
  color: #c33;
  font-weight: 700;
  background: #fff6e1;
}
.howto {
  color: #222;
  font-weight: 700;
  background: #fffef8;
}
.settings {
  color: #2d5226;
  font-size: 700;
  background: #f8ffe7;
}

/* WebGL version */
.webgl {
  position: absolute;
  right: 20px; bottom: 12px;
  font-size: 18px;
  color: #422;
  font-family: serif;
}
.ver {
  font-size: 15px;
}
